<div class='row'>
    <app-button (onClick)='clickHandler()' [label]='label'></app-button>
    <div [ngStyle]="{'display': (showUsers === true) ? 'inline-block' : 'none'}">
        <app-users [isLoading]='isLoading' [users]='users' (sendLoading)='interceptLoading($event)'
            (sendRepos)="interceptRepos($event)">
        </app-users>
    </div>
    <div  [ngStyle]="{'display': (showRepos === true) ? 'inline' : 'none'}">
        <app-repos [isLoading]='reposLoading' [repos]='repos'>
        </app-repos>
    </div>


</div>