<div *ngIf='isLoading'>
  <app-loader></app-loader>
</div>

<div class='users-col'>
  <div class="jumbotron" *ngIf="users">
    <div *ngFor="let user of users">
      <div class="card" style="width:200px">
        <img class="card-img-top" src={{user.avatar_url}} alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{user.login}}</h4>
          <p class="card-text">
            <a href={{user.html_url}}>Check on GitHub</a>
          </p>
          <app-button (click)='emitLoading()' (onClick)='getRepos(user.login)' [label]='label'></app-button>
        </div>
      </div>
    </div>

  </div>