.btn {
    margin: 10px;
    background-color: #ffc107;;
    border-color: #ffc107;;
}
.btn:hover {
    opacity: 0.5;
}
.btn-focus,
.btn-primary:focus {
    outline: none;
    box-shadow: none;
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ffc107;;
    border-color: #ffc107;;
}
